---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |

  Hi! I'm Paulo Vitor Itaboraí. I consider myself to be a music technologist and multimedia artist. I like to study. I'm currently pursuing to be in a bridge between contemporary art, physics and computation. 
  
  Some of the fields that I'm interested in are: Audio (and video) signal processing in real-time, new musical interfaces, computer-assisted composition, mixed music, sound spatialization, improvisation and experimentation, instrument construction, computer music, quantum computing. 
  
  I also believe that these technologies and art expressions should be developed and used in a more 'organic' approach, avoiding unrestrained growth and acceleration of our society. 

  My main research field today is Quantum Computer Music. Currently, I'm a remote visiting research fellow at the [Interdisciplinary Centre for Computer Music Research](http://cmr.soc.plymouth.ac.uk/), participating in the [QuTune Project](https://iccmr-quantum.github.io) - developing tools and didactic material for audio signal processing on quantum computers.

  I have a bachelor's degree in Physics at the [University of São Paulo](http://portal.if.usp.br/ifusp/en). I participated in the [Computer Music Group - IME/USP](https://compmus.ime.usp.br/en/home), during my undergrad studies. I was also a "Non-Degree" student of Electroacoustic Composition at [Studio PANaroma](http://www.flomenezes.mus.br/panaroma/index_panaroma.html), from where I developed many of my [technical-artistic collaborations](/projects_collaborations). 

  Two notable examples are the electroacoustic Opera "[Ritos de Perpassagem](https://www.youtube.com/watch?v=sR41-mcnup8)" by Flo Menezes, the NIME 2019 sound installation "[Acting Voices - Madrigale a Sei Vasi](https://www.instagram.com/p/Byh6gVuA4wk/)" by Paulo Itaboraí & Alex Buck, and the participations in the Strange Music Festival ([2019](https://www.musicaestranha.me/quem-faz) and [2021](https://www.musicaestranha.me/quem-faz-me8) editions).


profile_picture: /images/profile-pictures/profile.jpg

experience:

  
  - company: QuTune Project 
    position: Researcher
    period: January 2021 - Present

  - company: Strange Music Festival 8 and 1/2
    position: Live Stream Director & Live Stream Cloud Developer
    period: March 2021 - April 2021

  - company: Opera "Rites of Throughpassage" by Flo Menezes
    position: Computer Music Designer
    period: October 2018 - September 2019

  - company: NIME installation "Acting Voices - Madrigale a Sei Vasi"
    position: Co-creator
    period: February 2019 - June 2019

education:
  - course: Bachelor's degree in Physics
    place: University of São Paulo
    period: 2014-2019

  - course: Non-Degre Student of Electroacoustic Composition
    place: Studio PANaroma - São Paulo State University
    period: 2017-2020


#competitions:
#  - event: Event
#    period: 2019 - 2020
#    result: Link
#    link: https://itabora.space

skills:
  - Computer Music Design
  - Electroacoustic Music Diffusion
  - Quantum Audio Representations
  - Jitsi Meet Cloud Setup 
  - Live Stream Operation 
  - Sound Art
  - Experimental Luthery
  - Origami

tools:
  - Max/MSP, Pure Data
  - SuperCollider
  - Python
  - Qiskit
  - Jitsi Meet Server 
  - OBS Studio
  - C++

about_site: |
  - This Website was forked from [Matthew Grey's repository](https://github.com/MattGreyDesign/himatt.com) and the website he built using
  [Jekyll](https://jekyllrb.com/). I've edited the layouts, fonts, colors and templates to make it look more *ITABORAlized*.

  - The font used is 
  [Victor Mono](https://rubjo.github.io/victor-mono/), a wonderful Open Source font optimized for code and programming.

  - Other tools and libraries used include, [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Normalize.css](http://github.com/necolas/normalize.css).

  - The website is currently hosted on [Hostgator](http://hostgator.com.br/).

  - All the code for this site is open source and available on
  [Github](https://github.com/Itaborala/itabora.space)

  - Although the code is opensource under the GNU General Public License v3, all
  content is Copyrighted. [Read more](https://github.com/Itaborala/itabora.space/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Paulo Vitor Itaboraí",
    "jobTitle": "Music Technologist",
    "nationality": "Brazilian",
    "url": "https://www.itabora.space/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "São Paulo",
      "addressCountry": "Brazil"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>


        {% if page.competitions %}
        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Competitions</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>
        {% endif %}

      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">About this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
