---
layout: default
---
<div class="article-header">
  <div class="article-header-content">
    <section class="banner">
      <img src="{{ page.banner | prepend: site.image_serve_path }}" alt="">
    </section>

    <aside class="references">
      <section class="links">
        <h2>Buy</h2>
        {% if page.links %}
          {% for link in page.links %}

              <section>
                <header>
                  <a class="button-secondary {{ link.title | downcase }}" href="{{ link.url}}">{{ link.title | escape_once }}</a>
                  <p>{{ link.licence }}</p>
                </header>
              </section>

          {% endfor %}
        {% endif %}
      </section>
    </aside>
  </div>
</div>
TEST
<section>
  {{ content }}
</section>

<section class="features">
TEST
{% if page.features %}
  TEST
  <h2>Features</h2>
  <ul>
  {% for feature in page.features %}
    <li>{{ feature }}</li>
    Tewst
  {% endfor %}
  </ul>
{% endif %}
</section>

<section class="weights">
{% if page.font_weights %}
  <h2>Available Weights</h2>
  <ul>
  {% for weight in page.font_weights %}
    <li>{{ weight }}</li>
  {% endfor %}
  </ul>
{% endif %}
</section>

<section>
  <dl>
  <dt>First released</dt>
  <dd>{{ page.initial_release }}</dd>
  </dl>

  <dl>
  <dt>Latest revision</dt>
  {% if page.releases %}
    {% for release in page.releases reversed %}
      {% if forloop.first == true %}
        <dd>{{ release.version }} ({{ release.releasedate }})</dd>
      {% endif %}
    {% endfor %}
  {% endif %}
  </dl>
</section>


<section class="releases">
  <header>
    <h2>Version history</h2>
  </header>
  {% if page.releases %}
    {% for release in page.releases reversed %}
    <section>
      <header>
        <h3>{{ release.version }}</h3>
        <p>{{ release.releasedate }}</p>
      </header>
      <dl>
        <dt>Details</dt>
        <dd>
          {{ release.details | markdownify }}
        </dd>
      </dl>
      <br>
    </section>
    {% endfor %}
  {% endif %}
</section>
