@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Thin.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Thin.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-ThinOblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-ThinOblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-ThinItalic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-ThinItalic.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-ExtraLight.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-ExtraLight.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-ExtraLightOblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-ExtraLightOblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-ExtraLightItalic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-ExtraLightItalic.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Light.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Light.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-LightOblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-LightOblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-LightItalic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-LightItalic.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Regular.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Regular.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Oblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Oblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Italic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Italic.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Medium.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Medium.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-MediumOblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-MediumOblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-MediumItalic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-MediumItalic.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-SemiBold.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-SemiBold.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-SemiBoldOblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-SemiBoldOblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-SemiBoldItalic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-SemiBoldItalic.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-Bold.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-Bold.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-BoldOblique.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-BoldOblique.ttf') format('truetype');
 }

@font-face {
    font-family: 'Victor Mono';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('../assets/fonts/victormono/WOFF2/VictorMono-BoldItalic.woff2') format('woff2'), url('../assets/fonts/victormono/TTF/VictorMono-BoldItalic.ttf') format('truetype');
 }
